[user]
    name = Craig Phillips
    email = cphillips@2u.com
[alias]
    bl = blame
    br= branch
    ci = commit
    co = checkout
    d = diff
    dc = diff --cached
    l = log
    p = pull
    rename = "!git branch -m $1 $2 && git push origin :$1 $2 -u #"
    delete-tag = "!git tag -d $1 && git push :refs/tags/$i"
    sh = show
    st = status
[core]
    pager = less -iR
	  editor = nvim
	  excludesfile = ~/.gitignore_global
[color]
    ui = true
[push]
    default = simple
[pull]
    rebase = true
[pager]
	branch = false
[init]
	defaultBranch = main

#[url "ssh://git@github.com/"]
#        insteadOf = https://github.com/
#        insteadOf = https://www.github.com/
